.jumbotron1{
  background: url('https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/47425121_1453436674788877_5599962941039312896_n.jpg?_nc_cat=108&_nc_ht=scontent-sin2-2.xx&oh=7e6c0076cd500cd73b1fcd2acbfe2073&oe=5CAE2AE9');
  height:100%;
  width: 100%;
}

h1{
  font-family: 'Georgia', Times, serif;
  color: white;
}

p{
  font-family: 'Georgia', Times, serif;
  color: white;
}

hr{
  color: black;
}

#stat{
  font-family: 'Open Sans', Times, serif;
}

.card-img-top{
  width: 100px;
  height: 100px;
}

#hello{
    font-family: 'Georgia', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 300%;
    color: black;
    text-align: center;
}

.card-img-top{
  padding:10px;
}

.btn btn-success{
  padding-left: 50%;
}

.btn btn-light{
  padding-left: 50%;
}

#section1{
  background-color: #7FE9B7;
}

#card{
  background-color: #7FE9B7;
}
