#login-block{
    position: absolute;
    background-color:#7FE9B7;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    left: 250px;
    top:150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
}
#login-header{
    color: #343F4B;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    font-weight: bold;
    font-style: oblique;
}
#login-desc{
    color: #343F4B;
    text-align: center;
    font-size: 100%;
}
#signup-card{
    position:absolute;
    background-color: #343F4B;
    height:470px;
    width:380px;
    left: 30px;
    top:80px;
    border-radius: 30px;
    padding-top: 50px;
    padding-left:60px;
    padding-right: 50px;
}
#card-image{
    width: 280px;
    height:210px;
}
.card-title{
    color: #7FE9B7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.card-text{
    text-align: center;
    color: aliceblue;
    padding-bottom: 10px;
}

#login-button{
    bottom: 25px;
    position:absolute;
    background:#343F4B;
    color: white!important;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    line-height: 0.8;
    padding: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
}
#signup-button{
    background: #7FE9B7;
    color: #343F4B !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 45px;
    line-height: 0.8;
    padding: 18px 100px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
    border-radius:100px;
}