#margintop{
	margin-top:100px;
}
.form-group {
    width: 50%;
}

.btn {
    background-color: #7fe9b7;
}

ul {
    list-style-type: none;
}

#bg { 
    /* The image used */
    background-image: url("https://i.imgur.com/zQi6bH1.jpg");

    /* Full height */
    height: 600px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}