{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Sign Up Page
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/signup_scripts.js' %}"></script>
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <div id="back-block"></div>
        </div>
        <div class="col-sm-2">
            <div id="signup-block">
                <h4 id="signup-header">Barang siapa mempunyai sumbangan pada kemanusian dia tetap terhormat sepanjang jaman</h4>
                <p id="signup-desc">Bergabung bersama kami</p>
                <div id="buat-alert"></div>
                <form class="form-group" id="signup-form" method="POST" action="{% url 'Save_Signup' %}">
                    <div>
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }} 
                            <br>
                            {{ field }}
                        {% endfor %}
                    </div>
                    <button class="btn btn-default btn-lg" id="signup-button" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
