{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Login
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'css/login.css' %}">
    <script type="text/javascript" src="{% static 'js/login_scripts.js' %}"></script>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-sm-5">
            <div id="login-block">
                <h4 id="login-header">Selamat Datang</h4>
                <p id="login-desc">Silahkan masuk jika anda sudah memiliki akun</p>
                <form class="form-group" id="login-form" method="POST" action="{% url 'Save_Login' %}">
                    <div>
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            <br>
                            {{ field }}
                        {% endfor %}
                    </div>
                    <div>
                        <button class="btn btn-default btn-lg" id="login-button" type="submit">Sign In</button>
                    </div>
                    
                </form>
                <div id="login-google">
                    <button  class="btn btn-default btn-lg" id="login-button" type="submit">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">Google Sign In</a>
                    </button>
                        <!-- <div href="{% url 'social:begin' 'google-oauth2' %}" class="g-signin2" data-onsuccess="onSignIn"></div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card, card-text-center" id="signup-card">
                <img class="card-img-top" id="card-image"src="https://2.bp.blogspot.com/-gOma-8QNDuc/Wr_dt27QW4I/AAAAAAAAAA0/TDxM85TtKMcuJ58nOU8yf6odxEraKf-9wCLcBGAs/s1600/charity%2Bevent.jpg" alt="Donate picture">
                <div class="card-body">
                <h5 class="card-title">Belum terdaftar sebagai member?</h5>
                <p class="card-text">Daftarkan dirimu sekarang untuk membuat donasi</p>
                <a href="../signup_post/" class="btn btn-default btn-lg" id="signup-button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}