{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    About Us
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'css/aboutstyle.css' %}">
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock css %}


{% block content %}

  <div class="jumbotron1" style="text-align: center; padding: 17%;">
      <h1>Apa itu Sinar Perak?</h1>
      <p>Sinar Perak adalah website untuk menggalang dana dan berdonasi secara online dan transparan. </p>
      <p>Kami menyediakan wadah dan teknologi online bagi individu, komunitas, organisasi, maupun perusahaan yang ingin menggalang dana dengan membuat halaman donasi online
        untuk beragam tujuan sosial, personal, kreatif dan lainnya serta berdonasi kapan saja secara online ke campaign-campaign yang ada sesuai dengan keinginannya. </p>
  </div>

  <div class="row center" style="padding:3%">

      <div class="col-sm-12">
          <br>
          <h1 align="center" id="hello" style="color: black">Meet The Team</h1>
      </div>
  </div>

  <div class="container">
      <div class="row" style="padding: 4%;">
          <div class="col-sm-3">
              <div class="card" style="width: 12rem; height: 16rem;">
                <br>
                <center><img class="card-img-top rounded-circle" src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/48191295_1458658714266673_7989189360165584896_n.jpg?_nc_cat=100&_nc_ht=scontent.fcgk18-2.fna&oh=6660f9aef12e81341cf2a7c2d246b93f&oe=5C9481DB" width="80%" height= "90%"></center>
                <br>
                <div class="card-title" style="text-align: center;  font-family: 'Open Sans', Times, serif;
                  font-weight: bolder;">Hermawan Wibisana A.</div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card" style="width: 12rem; height: 16rem;">
                <br>
                <center><img class="card-img-top rounded-circle" src="https://scontent.fcgk18-2.fna.fbcdn.net/v/t1.0-9/41261924_2606314632715681_3784973194121707520_n.jpg?_nc_cat=102&_nc_eui2=AeFnUrJhPwp9WKwX6dSDnlBgLDW5GUmos8dUanh7lit_dlI9WcJdNN5quwKgY3juZtxNMstJKesTWuZEFKskWDrFd7r9pN4jz7fi1gpBKIu0uQ&_nc_ht=scontent.fcgk18-2.fna&oh=6171aaaf7762f327998b4ea5c61e31a8&oe=5CA9E131" width="80%" height= "90%"></center>
                <br>
                <div class="card-title" style="text-align: center; font-family: 'Open Sans', Times, serif;
                  font-weight: bolder;">Laila Saffanah</div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card" style="width: 12rem; height: 16rem;">
                <br>
                <center><img class="card-img-top rounded-circle" id="profilphotos" src="https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/48058906_1459277660871445_2991729160168144896_n.jpg?_nc_cat=106&_nc_ht=scontent-sin2-2.xx&oh=39db4827e623bfa8a98c977f40e7a799&oe=5CA795F4" width="100%" height="100%"></center>
                <br>
                <div class="card-title" style="text-align: center; font-family: 'Open Sans', Times, serif;
                  font-weight: bolder;">Puspacinantya</div>
              </div>
          </div>

          <div class="col-sm-3">
              <div class="card" style="width: 12rem; height: 16rem;">
                <br>
                <center><img class="card-img-top rounded-circle" id="profilphotos" src="https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/42058749_1397298703736008_1790833012598898688_n.jpg?_nc_cat=103&_nc_ht=scontent-sin2-2.xx&oh=36adfd368a9f046f43cbe1f1173afab3&oe=5C472B2E" width="80%" height= "90%"></center>
                <br>
                <div class="card-title" style="text-align: center;font-family: 'Open Sans', Times, serif;
                  font-weight: bolder;">Salsabila Maurizka</div>
              </div>
          </div>
      </div>
      {% if user.is_authenticated %}
      <div id="section1" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
      <div class="col">
          <form class="form-group" id='testimoniform' method="post">
            <br>
            <h1 align="center" id="hello" style="color: black">Testimoni</h1>
            <div id="#buat-alert" class=""></div>
            {% csrf_token %}
            <!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
            {{ form.as_p }}
          <center><input type="submit" id="submit-button" class="btn btn-success" value="Kirim Testimoni" >
        </form>
    </div>
  </div>
  {% endif %}
  <br>
  <br>

  <div id='list-testimoni'>
          <br>
          <center>
              <table class="table" id='subs-table'>
                  <tr>
                      <thead>
                          <th scope="col-sm-2">No</th>
                          <th scope="col-sm-4">Tanggal</th>
                          <th scope="col-sm-6">Nama</th>
                          <th scope="col-sm-6">Testimoni</th>
                      </thead>
                  </tr>
                  <tbody></tbody>
              </table>
          </center>
      </div>
  </div>

  <!-- <script type="text/javascript">
    $(document).ready(function(){
      ({
            method:'GET',
            url: "/result/",
            success: function(response){
                var arr = response.result
                for(var i = 0; i< arr.length; i++){
                    var html = '<tr>'+
                    '<td>'+ arr[i].date + '</td>'+
                    '<td>'+ arr[i].username + '</td>'+
                    '<td>'+arr[i].date+'</td>'+
                    +'</tr>';
                $('tbody').append(html);
                }
            },
            error: function(error){
                alert("Maaf ada yang salah")
            }
        });

    });
  </script> -->

{% endblock %}
