#margintop{
	margin-top:100px;
}
.flex1{
    display: flex;
}
.content1{
    position: fixed
}
.carousel-item{
    font-size: 1.5vw;
}
.carousel-item h1{
    font-size: 3vw;
}
.flexx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.flexx1{
    flex: 3;
}
.flexx2{
    flex: 1;
    min-width: 200px;
    margin-top: 40px;
    margin-left: 20px;
}
.card{
    display: flex;
    margin-bottom: 30px;
    background-color: #7FE9B7; 
}
.sticky{
    margin-left:9%;
    padding-top: 45px;
    width: 280px;
    height: 50vmax;
    background-color: #7FE9B7;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.isianbox h2{
    margin: 10px;
    text-align: center;
    font-size: 2.2vmax; 
    color: white;
}
.isianbox ol{
    float: left;
    font-size: 1.5vmax;
}
.isianbox a{
    text-decoration: none;
    color: white!important;
}
