<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
    #hello{
        font-family: 'Georgia', Times, serif;
        font-weight: bolder;
        font-style: oblique;
        font-size: 300%;
        color:#7fe9b7;
        text-align: center;
        padding-top: 40px;
    }
    #working{
        font-family: 'Georgia', Times, serif;
        font-style: oblique;
        font-size: 150%;
        color:#343F4B;
        text-align: center;
    
    }
</style>
<body style="background-color:white">
    <h4 id="hello">Hello! This is {{ name }}'s web</h4>
    <p id="working">Please visit us at https://demippw.herokuapp.com/home/</p>
</body>
</html>