{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Riwayat
{% endblock title %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock css %}

{% block content %}
<div class="greetings">
    <br>
    <br>
    <br>
    <h3>Hai {{user.username}}!</h3>
    <h4>Dibawah ini adalah daftar donasi yang pernah kamu lakukan</h4>
</div>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Penerima</th>
                            <th class="column2">Nominal</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.ajax({
            method:'GET',
            url: "/daftar/",
            success: function(response){
                var arr = response.result
                for(var i = 0; i< arr.length; i++){
                    var html = '<tr>'+
                    '<td>'+ arr[i].title + '</td>'+
                    '<td>'+ arr[i].nominal + '</td>'+
                    +'</tr>';
                $('tbody').append(html);
                }
            },
            error: function(error){
                alert("Maaf ada yang salah")
            }
        });
    });
</script>
{% endblock %}