#back-block{
    background-color: #343F4B;
    position:absolute;
    height: 500px;
    width: 75%;
    border-radius: 30px;
    left: 220px;
    right:80px;
    top: 80px;
    
}
#signup-block{
    background-color: #7FE9B7;
    position: absolute;
    height:500px;
    width: 460px;
    border-radius: 30px;
    padding-left: 40px;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-right: 40px;
    right: 300px;
    top: 120px;
    
}
#signup-header{
    font-size: 180%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:200;
}
#signup-desc{
    font-size:100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#signup-button{
    bottom: 10px;
    position:absolute;
    background:#343F4B;
    color: white!important;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    line-height: 0.8;
    padding: 10px 20px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
}