{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Beranda
{% endblock title %}

{% block css %}
<link rel="stylesheet" type= 'text/css' href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
    <div class="flex">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" id = "car1" src="{% static '4.jpg'%}" alt="First slide">
                    <div class="carousel-caption" style='text-align: left;'>
                        <h1>ALAM MENGAMUK</h1>
                        <p>Bantu kami untuk meringankan beban korban bencana ini</p>
                        <a href="../submitdon"><button style="background-color: #7FE9B7; color: black">Sumbangkan</button></a>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static '2.jpg'%}" alt="Second slide">
                    <div class="carousel-caption"style='text-align: left;'>
                            <h1>RUMAH UNTUK SINGGAH</h1>
                            <p>Mari kita galang dana untuk Ibu ini agar beliau bisa tidur dengan atap diatas beliau</p>
                            <a href="../submitdon"><button style="background-color: #7FE9B7; color: black">Sumbangkan</button></a>
                        </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static '3.jpg'%}" alt="Third slide">
                    <div class="carousel-caption" style='text-align: left;'>
                            <h1>OPERASI UNTUK ARTEMIS</h1>
                            <p>Bantu Artemis untuk operasi jantung agar ia bisa kuliah kembali</p>
                            <a href="../submitdon"><button style="background-color: #7FE9B7; color: black">Sumbangkan</button></a>
                        </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="flexx">
        
        <div class="flexx1 flexx" style="margin-left: 6vmax">
            {%for i in progss%} 
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">{{i.caption}}</p>
                <a href="../submitdon" class="btn btn-primary" style="background-color:#7FE9B7">Donasi</a>
            </div>  
            {%endfor%}                    
        </div>
        
        <div class="flexx2">
            <div class="sticky">
                <div class="isianbox">
                        <h2>MEREKA YANG MEMBUTUHKAN BANTUAN LEBIH</h2>
                        <a href="../submitdon"><ol>Gempa Palu</ol></a>
                        <a href="../submitdon"><ol>Gempa Lombok</ol></a>
                        <a href="../submitdon"><ol>Yayasan Kasih Ibu</ol></a>
                        <a href="../submitdon"><ol>Kelaparan</ol></a>
                        <a href="../submitdon"><ol>Tsunami</ol></a>
                        <a href="../submitdon"><ol>Operasi Bagus</ol></a>
                        <a href="../submitdon"><ol>Letusan Sinabung</ol></a>
                        <a href="../submitdon"><ol>Rumah Hunian</ol></a>
                        <a href="../submitdon"><ol>Jalur Gaza</ol></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}