{% extends "base.html" %}
{%  load staticfiles %}
{% load static %}
{% block title %}
    Category Medis
{% endblock title %}
{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'css/category.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
  <br></br>
  <div class="dropdown float-right">
      <button class="btn dropdown-toggle" style="background:#7FE9B7;" type="button" data-toggle="dropdown">Kategori
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../bencana">Bencana Alam</a></li>
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../medis">Bantuan Medis dan Kesehatan</a></li>
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../category">Lainnya</a></li>
      </ul>
</div>
 <br></br>
 <br></br>
</div>
  <div class="container float-right">
    <div class="row">
        <div class = "col-sm-3 col-sm-offset-1">
                <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                        <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44308760_1416094898523055_6910939495542030336_n.jpg?_nc_cat=100&oh=57f61bc6831bd7f1f4694701cd8aba6b&oe=5C5E6518"
                        alt="" width="240" height="180">
                        <div class="card-body">
                          <h5 class="card-title"><b>Bantu Pak Amin Lawan Tumor</b></h5>
                          <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                        </div>
                </div>

       </div>
       <div class = "col-sm-3 col-sm-offset-1">
               <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                       <img class="card-img-top" src="https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.0-9/44228357_1416094505189761_4966094264288149504_n.jpg?_nc_cat=107&oh=ef8e37cc33d2b4476c0178f600ede628&oe=5C3C15A9"
                       alt="" width="240" height="180">
                       <div class="card-body">
                         <h5 class="card-title"><b>Bantu Eza Agar Dapat Melihat Kembali</b></h5>
                         <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                       </div>
               </div>
       </div>
       <div class = "col-sm-3 col-sm-offset-1">
               <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                       <img class="card-img-top" src="https://scontent.fcgk5-1.fna.fbcdn.net/v/t1.0-9/44178273_1416094741856404_4982647892880654336_n.jpg?_nc_cat=107&oh=b9001d546e76bfe33751c0fffb0f4fdb&oe=5C4AAE6E"
                       alt="" width="240" height="180">
                       <div class="card-body">
                         <h5 class="card-title"><b>Bantu Rano dari Kakinya yang Putus</b></h5>
                         <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                       </div>
               </div>

      </div>
    </div>
  <br></br>
  <br></br>
  <div class="row">
      <div class = "col-sm-3 col-sm-offset-1">
          <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
              <img class="card-img-top" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/44237893_1416094675189744_3988701961330360320_n.jpg?_nc_cat=104&oh=137cee2eb8cc8a03f84280659c17938f&oe=5C518771" alt="" width="240" height="180">
                  <div class="card-body">
                      <h5 class="card-title"><b>Bantu Sembuhkan Kanker Tiroid Jamilah</b></h5>
                      <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                  </div>
          </div>

     </div>
    <div class = "col-sm-3 col-sm-offset-1">
        <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
             <img class="card-img-top" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/44213878_1416094798523065_2669110071799054336_n.jpg?_nc_cat=103&oh=ca88babb6e95599bf91306f2e3cb094b&oe=5C3CC0C8" alt="" width="240" height="180">
                 <div class="card-body">
                     <h5 class="card-title"><b>Bantuan Operasi Katarak Gratis</b></h5>
                     <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                 </div>
        </div>
    </div>
    <div class = "col-sm-3 col-sm-offset-1">
        <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
            <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44375429_1416094841856394_2093720007597883392_n.jpg?_nc_cat=101&oh=e0b8d3e4df5f275918a54b4e3a9a7e44&oe=5C51DE91" alt="" width="240" height="180">
                  <div class="card-body">
                       <h5 class="card-title"><b>RS Apung untuk Timur Indonesia</b></h5>
                       <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                  </div>
        </div>

   </div>
  </div>
  <div class="col-sm-1">

  </div>
</div>
{% endblock %}
