{% extends "base.html" %}
{%  load staticfiles %}
{% load static %}

{% block title %}
    Category Bencana
{% endblock title %}
{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'css/category.css' %}">
{% endblock css %}
{% block content %}

<div class="container">
  <br></br>
  <div class="dropdown float-right">
      <button class="btn dropdown-toggle" style="background:#7FE9B7;" type="button" data-toggle="dropdown">Kategori
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../bencana">Bencana Alam</a></li>
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../medis">Bantuan Medis dan Kesehatan</a></li>
          <li><a class="dropdown-item" type="button" style="background:#7FE9B7" href="../category">Lainnya</a></li>
      </ul>
</div>
 <br></br>
 <br></br>
</div>
<div class="container float-right">
  <div class="row">
      <div class = "col-sm-3 col-sm-offset-1">
              <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                      <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44318071_1416094511856427_789242631967211520_n.jpg?_nc_cat=101&oh=b505e959a2c43c1fc845e9ff2925e0fc&oe=5C5FB067"
                      alt="" width="240" height="180">
                      <div class="card-body">
                        <h5 class="card-title"><b>1000 Tenda untuk Pengungsi Lombok</b></h5>
                        <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                      </div>
              </div>

     </div>
     <div class = "col-sm-3 col-sm-offset-1">
             <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                     <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44070890_1416094578523087_8154119746464251904_n.jpg?_nc_cat=101&oh=ff5a6c114387deb3736141c056f35ea8&oe=5C5082F2"
                     alt="" width="240" height="180">
                     <div class="card-body">
                       <h5 class="card-title"><b>Bantu Anak-anak Korban Tsunami Palu</b></h5>
                       <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                     </div>
             </div>
     </div>
     <div class = "col-sm-3 col-sm-offset-1">
             <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                     <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44257923_1416094908523054_13863823719006208_n.jpg?_nc_cat=101&oh=389fc95dfe828b791e767fc3ee9a9b82&oe=5C3BFC2B"
                     alt="" width="240" height="180">
                     <div class="card-body">
                       <h5 class="card-title"><b>Untuk Korban Bencana SulTeng</b></h5>
                       <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                     </div>
             </div>

    </div>
  </div>
    <br></br>
    <br></br>
    <div class="row">
        <div class = "col-sm-3 col-sm-offset-1">
                <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                        <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/42392852_1416094498523095_4325595876018880512_n.jpg?_nc_cat=110&oh=bb344c3cd6ced55e0b0569ad991c72de&oe=5C430E1C" alt="" width="240" height="180">
                        <div class="card-body">
                          <h5 class="card-title"><b>Bantu Korban Gempa dan Tsunami Palu</b></h5>
                          <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                        </div>
                </div>

       </div>
       <div class = "col-sm-3 col-sm-offset-1">
               <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                       <img class="card-img-top" src="https://scontent.fcgk4-1.fna.fbcdn.net/v/t1.0-9/44265550_1416094768523068_5917257764609982464_n.jpg?_nc_cat=110&oh=c6dcc7ec946504beb4eed3b5781b0de8&oe=5C3F7840"
                       alt="" width="240" height="180">
                       <div class="card-body">
                         <h5 class="card-title"><b>Bantu Korban Gempa Lombok</b></h5>
                         <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                       </div>
               </div>
       </div>
       <div class = "col-sm-3 col-sm-offset-1">
               <div class="card text-white mb-3,card text-center" style="background:#7FE9B7;">
                       <img class="card-img-top" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/44365106_1416094735189738_6353412475202830336_n.jpg?_nc_cat=109&oh=ab97e6d80b8e60c4f37face20f45219b&oe=5C56CFD6"
                       alt="" width="240" height="180">
                       <div class="card-body">
                         <h5 class="card-title"><b>Bantu Korban Gempa Donggala</b></h5>
                         <a href="../submitdon" class="btn btn-dark" style="color:#7FE9B7">Donasi</a>
                       </div>
               </div>

      </div>
    </div>
</div>
{% endblock %}
