{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Riwayat
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!--col1-->
            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    <h1>{{ user.username }}, Terima kasih atas segala sumbangsihmu.</h1>
                    <h2>Sejauh ini, Anda telah mendonasikan sebanyak {{ total }}. Berikut riwayat donasi Anda.<h2>
                {% endif %}
            </div>
            <div class="col">
                <!--col3-->
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Program</th>
                <th scope="col">Nominal</th>
                </tr>
            </thead>
            <tbody id = 'tableBody'>
                {% for i in arr %}
                    <tr>
                        <td> {{ i.titlesubmitted }} </td>
                        <td> {{ i.nominalsubmitted }} </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

    </div>
{% endblock %}
