{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Donasi
{% endblock title %}

{% block css %}
    <style>
        #margintop{
            margin-top:100px;
        }
        .form-group {
            width: 50%;
        }

        .btn {
            background-color: #7fe9b7;
        }

        ul {
            list-style-type: none;
        }

        #bg { 
            /* The image used */
            background-image: url("https://i.imgur.com/zQi6bH1.jpg");

            /* Full height */
            height: 600px; 

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
        }
    </style>

    {% comment %} <link rel="stylesheet" type= 'text/css' href="{% static 'css/styles.css' %}"> {% endcomment %}
{% endblock css %}

{% block content %}
    <div class="container">
        <center>
        <h2 align='center'>Tunjukkan Empati, Bantu Sesama</h2>
        <h4 align='center'>Dimulai dari Sini.</h4>
        <br>
        <div id="alertField"></div>
        <br>
        <div></div>
        <div id="toHide"></div>
        <div class="form-group">
            <form id="form" method="POST" action="{%url 'submit_donasi:Add_Donation'%}">
                {% csrf_token %}
                {% for field in form %}
                <!-- {% csrf_token %} -->
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                {% endfor %}
                <div class="submit-btn">
                    <input id="submit" type="submit" class="btn" value="Submit">
                </div>
            </form>
        </div>
        </center>
    </div>
{% endblock %}
