{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Laporan Pemasukan Donasi
{% endblock title %}

{% block css %}
    <style>
        #margintop{
            margin-top:100px;
        }
        .form-group {
            width: 50%;
        }

        .btn {
            background-color: #7fe9b7;
        }

        ul {
            list-style-type: none;
        }

        #bg { 
            /* The image used */
            background-image: url("https://i.imgur.com/zQi6bH1.jpg");

            /* Full height */
            height: 600px; 

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
        }
    </style>
    {% comment %} <link rel="stylesheet" type= 'text/css' href="{%static 'css/styles.css'%}"> {% endcomment %}
{% endblock css %}

    {% block content %}
    <div class="jumbotron">
            <h1 class="display-4">Laporan Total Pemasukan Donasi</h1>
            <p class="lead">Uluran tangan Anda sangat berarti bagi mereka.</p>
            <hr class="my-4">
            <p>Berikut rincian pemasukan donasi.</p>
            <!-- <button class="btn"><a href="{% url 'submit_donasi:submitdon' %}">Kembali ke Halaman Submit</button> -->
    </div>
    <div id="bg" class="jumbotron">
        <center>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Pengirim</th>
                    <th>Penerima</th>
                    <th>Donasi sebesar</th>
                </tr>
            </thead>
            <tbody>
                {% for i in list_donatur %}
                <tr>
                    {% if i.publishedname == 'yes' %}
                        <td>Anonim</td>
                    {% else %}
                        <td> {{ i.name }} </td>
                    {% endif %}
                    <td> {{ i.title }} </td>
                    <td> {{ i.nominal }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </center>
    </div>
    {% endblock %}
